@use 'bulma/bulma';
@use './fontawesome/scss/fontawesome.scss';
@use './fontawesome/scss/solid.scss';
@use './fontawesome/scss/brands.scss';

@mixin center {
    margin-left: auto;
    margin-right: auto;
}

$element-bg: #FFFFFF;
$page-bg: #D0BBCC;

html {
    overflow: auto;
    background-color: $page-bg;
}

body {
    width: 80%;
    min-width: 200px;
    @include center;
    padding-top: 10px;
}

.hidden {
    display: none !important;
}

.tabs li a {
    background-color: $element-bg;
}

nav.tabs li span.icon:last-child {
    margin-left: 0.4em;
    margin-right: 0em;
}

.uiPanel {
    display: none;
    background-color: $element-bg;
    padding:20px;
    border-radius:20px;
}

.uiPanel.currentPanel {
    display: block;
}

button.connectButton {
    @extend .is-success;
}

button.disconnectButton {
    @extend .is-danger;
}

.form.connected {
    .connectButton {
        display: none;
    }
    .disconnectButton {
        display: block;
    }
}

.form.connecting {
    .connectButton {
        display: none;
    }
    .disconnectButton {
        display: block;
        @extend %loader;
        color: transparent !important;
    }
}

.form.disconnected {
    .connectButton {
        display: block;
    }
    .disconnectButton {
        display: none;
    }
}

.form.error {
    .connectButton {
        display: block;
    }
    .disconnectButton {
        display: none;
    }
}

.connected {
    @extend .is-success;
    //color: rgb(33, 187, 33)
}

.error {
    @extend .is-danger;
    //color: rgb(205, 33, 33)
}

input:invalid {
    @extend .is-danger;
}